.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: 
    "textInput  graphRender  graphRender  graphRender  graphRender  graphRender"
    "textInput  graphRender  graphRender  graphRender  graphRender  graphRender"
    "textInput  graphRender  graphRender  graphRender  graphRender  graphRender"
    "textInput  graphRender  graphRender  graphRender  graphRender  graphRender"
    "sendButton graphRender  graphRender  graphRender  graphRender  graphRender" */
}

.textWrapper {
  /* grid-area: sendButton; */
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textInput {
  flex: 10;
  resize: none;
}

.send {
  flex: 1;
}

.cytoRoot {
  /* grid-area: graphRender; */
  background-color: coral;
  width: 100%;
  flex: 4;
}
